# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**                    
**.Python**                             
**.SQL**                             
**.R**                  
**.Jupyter Notebook**

# Some of the popular languages that Data Scientists use are
1. Python
2. R
3. Julia

# Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib

|Data SCience Tools|
|------------------|
|RStudio|
|Jupyter Notebook|
|SQL|
|Anaconda|

### Below are a few examples of evaluating arithmetic expressions in Python

# This a simple arithmetic expression to mutiply then add integers.

In [4]:
x = (3*4)+5
print(x)

17

# This will convert 200 minutes to hours by diving by 60.

In [6]:
m = 200

In [7]:
h = m/60

In [8]:
print (h)

3.3333333333333335

## Author

Usman Sule